.barratop  {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 700px;
    background-color:#27393b;
    color: white;
    border-bottom: 5px solid rgb(234, 223, 15)

}

.subtitle{
    margin-bottom: 30px;
}

/* Fotos de presentacion index */

.container {
position: center;
width: 50%;
}
/* */

/* barra de navegacion bootstrap */
.navbar{
    background:#395255;
    font-size: 20px;
    z-index: 1;
}

.navbar li a{
    color: white !important;
}

.dropdown-menu li a {
    color: black !important;
    font-size: 20px;
}

/* */


.titulo1 {
    font-weight: bold;
    font-size: 80px;
    text-align: center
}

.titulo2 {
    font-weight: bold;
    font-size: 60px;
    text-align: center
}

.banner_imagen {
display: block;
width: 100%;
height: auto;
}
  
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #27393bc5;
}
  
.container:hover .overlay {
opacity: 1;
}
  
.banner_texto {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

section table {  
margin-left: auto;
margin-right: auto;
padding: 10px;}



.descripcion {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.precios  {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border-spacing: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color:black;
    text-align: center;
    font-family: 'Trebuchet MS',  sans-serif;
    margin-bottom: 50px;
    

}

.precios hr {
    padding: 0px;
    margin: 0px;
    border-top: black;
}

.imagen {
    padding: 20px;
}

/* Inicio estilo tarjeta */
.tarjeta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .articulo {
      font-size: 20px;
  }

  .precio {
    color: grey;
    font-size: 20px;
  }
  
  .tarjeta button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #27393b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .tarjeta button:hover {
    opacity: 0.7;
  }

/* fin estilo tarjeta */
.title
{
    color: rgb(26, 26, 62);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;

}

.formulario {
    color:black;
}

footer {
    margin-top: 100px;
    border-top: 5px solid rgb(234, 223, 15) ;
    background: #27393b
}