.topbar  {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 700px;
    background-color:#27393b;
    color: white;
    border-bottom: 5px solid rgb(234, 223, 15)
}

.subtitle{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}
.logo_index {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%

}

/* Fotos de presentacion index */

.container {
position: center;
width: 50%;
}


.banner_imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}
      
.overlay {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: #27393bc5;
    }
      
.container:hover .overlay {
    opacity: 1;
}
      
.banner_texto {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* */

/* barra de navegacion bootstrap */
.navbar{
    background:#395255;
    font-size: 20px;
    z-index: 1;
}
.navbar-brand {
    max-width: 10%;
}
.navbar li a{
    color: white !important;
}

.dropdown-menu li a {
    color: black !important;
    font-size: 20px;
}

/* */


.title-shop-1 {
    font-weight: bold;
    font-size: 80px;
    text-align: center
}

.title-shop-2 {
    font-weight: bold;
    font-size: 60px;
    text-align: center
}



section table {  

padding: 10px;
max-width: 77%;
border-collapse: collapse !important;
border-spacing: 0 !important;
}

.descripcion {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.imagen {
    padding: 20px;
}

.artic {
    font-size: 20px;
}

.title
{
    color: rgb(26, 26, 62);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 50px;

}

.formulario {
    color:black;
}


footer {
    margin-top: 100px;
    border-top: 5px solid rgb(234, 223, 15) ;
    background: #27393b
}